.hero_container {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.hero_info {
  width: 400px;
  font-size: 15px;
  font-weight: 500;
}
.hero_info > p {
  color: gray;
}

.hero_container > img {
  height: 400px;
  width: 400px;
}

.btn {
  background-color: rgb(69, 178, 133);
  border: 4px solid rgb(69, 178, 133);
}

@media screen and (max-width: 789px) {
  .hero_info {
    z-index: 100;
    position: absolute;

    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(224, 221, 221, 0.4);
  }

  .hero_info > p {
    color: black;
  }

  .btn {
    width: 100%;
  }
}
